<script id="tmpl-ChartContainer" type="text/html">
	<div class="ChartContainer">
		<div class="ChartContainer-Header">
			<h1>ChartContainer</h1>
		</div>
		<div class="ChartContainer-Wrapper">
			<div id="ChartContainer-Chart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
		</div>
		<div id="btnWrapper">
			<button class="btn btn-success showTableBtn">ShowTable</button>
		</div>
		<div class="showFilters">
		</div>
	</div>
</script>