<script id="tmpl-MenuContainer" type="text/html">
	<div class="MenuContainer">
		<h1 id="MenuTitle">MENU</h1>
		<div id="chartType">
			<div id="type-line" class="eachType">
				<p class="lead">SPLine</p>
			</div>
			<div id="type-realTime" class="eachType">
				<p class="lead">RealTime</p>
			</div>
			<div id="type-zoomableTree" class="eachType">
				<p class="lead">Zoomable Tree</p>
			</div>
		</div>
	</div>
</script>