<script id="tmpl-MenuContainer" type="text/html">
	<div class="MenuContainer">
		<h1 id="MenuTitle">MENU</h1>
		<div id="chartType">
			<div>
				<p class="lead">Graphic Type 1</p>
			</div>
			<div>
				<p class="lead">Graphic Type 2</p>
			</div>
			<div>
				<p class="lead">Graphic Type 3</p>
			</div>
			<button class="btn btn-warning displayChartBtn">Display</button>
		</div>
	</div>
</script>