@CHARSET "ISO-8859-1";
@IMPORT url("ZoomableTreemap.css");

.ChartContainer{
	/*border: solid 1px green;*/
	text-align: center;
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #ECE5C7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height: 500px;
	margin-bottom: 30px;
}

.ChartContainer-Header{
	margin-left: 150px;
	margin-bottom: 50px;
	text-align: center;
}

#ChartContainer-Chart{
	width: 450px; 
	height: 400px; 
}

.ChartContainer-ZoomableChart, .ChartContainer-ZoomableChart2, .ChartContainer-ZoomableChart3{
	/*margin-left: 200px;*/
	display: none;
	margin: 0px auto;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	/*border:solid 1px green;*/
}

#btnWrapper{
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
}

#ChartContainer-Chart{
	/*left: 100px;
	border: solid 1px red;*/
}

.ChartContainer-Wrapper{
	margin-left: 80px;
	display: none;
}

.showFilters{
	margin-left: 100px;
	display: none;
}

#dateFilters{
	display: none;
}